<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction, Powered By Machine Learning</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/style.css"> <!-- Link to your style.css -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="gradient-top"> <!-- Apply gradient background to the body -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active text-white" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/diabetes_predML">Prediction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/tableau_1">Tableau 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/tableau_2">Tableau 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/about_us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/works_cited">Works Cited</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="text-white text-center py-5" style="background-color: #224870ff;">
      <div class="container">
        <h1>Welcome to the Diabetes Prediction and Data Analysis Web App</h1>
        <p class="lead">Diabetes prediction with Machine Learning</p>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="#robin-egg-blue py-1">
        <div class="container text-center">
            <h3>This web application is designed to assess your risk of developing diabetes.</h3>
            <h3>Please note that this tool is intended for use in consultation with your physician and should not be relied upon for medical advice.</h3>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="container py-5 d-flex justify-content-center">
      <div class="col-md-6 gradient-bottom p-3 text-center">
      <h3><a href="/diabetes_predML" class="text-white">Predict Probability of Diabetes</a></h3>
      <p>Diabetes Predictor powered by Machine Learning</p>    
      </div>
    </section>
    <section id="features" class="container my-5">
        <div class="row text-center">
            <div class="col-md-6 gradient-bottom p-3">
                <h3><a href="/tableau_1" class="text-white">Tableau Analysis of Diabetes Dataset 1</a></h3>
                <p>Visualization of Diabetes Data Tableau 1</p>    
            </div>
            <div class="col-md-6 gradient-bottom p-3">
                <h3><a href="/tableau_2" class="text-white">Tableau Analysis of Diabetes Dataset 2</a></h3>
                <p>Visualization of Diabetes Data Tableau 2</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 Diabetes Prediction Web Application. All rights reserved.</p>
    </footer>

</body>
</html>
