<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction, Powered By AI</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/style.css"> <!-- Link to your style.css -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="gradient-top"> <!-- Apply gradient background to the body -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active text-white" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/diabetes_predML">Prediction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/tableau_1">Tableau 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/tableau_2">Tableau 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/about_us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/works_cited">Works Cited</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <header class="text-white text-center py-5" style="background-color: #224870ff;">
      <div class="container">
            <h1>Works Cited</h1>
            <p class="lead">Sources and references used in The Diabetes Predictor App</p>
        </div>
    </header>

    <section class="container my-5">
        <h2>References</h2>
        <ul class="list-group">
            <li class="list-group-item">"Pima Indians Diabetes Database" <a href="https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database/data" target="_blank">www.kaggle.com</a></li>
        </ul>
    </section>
</body>
<!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 Diabetes Prediction Web Application. All rights reserved.</p>
    </footer>

</html>
